@model Core.Domains.Category

@using (Html.BeginForm(null, null, FormMethod.Post, new { data_parsley_validate=""})) 
{
	@Html.AntiForgeryToken()
	<div class="form-group">
    	<label>Name</label>
     	<input type="text" id="name" name="Name" class="form-control" placeholder="e.g Shopping" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

@section extrajs
{
	<script type="text/javascript" src="/scripts/parsley.js"></script> 
}