@model IEnumerable<Core.Domains.Card>

@{
    ViewBag.Title = "Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <table class="table">
    	<thead>
    		<tr>
    	  		<th>Name</th>
    			<th>Type</th>
    			<th></th>
    	  	</tr>
    	</thead>
		<tbody>
			@foreach(var item in Model)
			{
			<tr>
				<td>@item.Name</td>
				<td>@item.Card_Type</td>
			</tr>
			}
		</tbody>
	</table>
	<p>
		<a href="/card/create" class="btn btn-primary">Create New Card</a>
	</p>
</div>